<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd nlog.xsd"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="false"
      internalLogLevel="Off"
      internalLogFile="C:\temp\nlog-internal.log">
  <extensions>
    <add assembly="GM.Logging"/>
  </extensions>
  <variable name="Layout" value="${date:format=yyyy.MM.dd} ${time} ${date:format=zzz} ${machinename} ${logger}: ${uppercase:${level}}: ${message} ${exception:format=:maxInnerExceptionLevel=7:innerFormat=toString:innerExceptionSeparator=\n\n}" />
  <targets async="true">
    <target
      xsi:type="File"
      name="f"
      archiveAboveSize="20971520"
      layout="${Layout}"
      encoding="utf-8"
      fileName="${basedir}/logs/${shortdate}.txt"
      maxArchiveFiles="7"
      archiveEvery="Day" />
    <target xsi:type="ColoredConsole" name="logconsole"
        layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=:maxInnerExceptionLevel=7:innerFormat=toString:innerExceptionSeparator=\n\n}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Fatal" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>
